.align{
    height: 700px;
    align-items: stretch;
    justify-content: center;
    flex-direction:column;
    display: flex;
    flex-direction: column;
    width: 100vw;

}
.align-end{
    align-self: flex-end;
    margin: 10px;
}
.align-center{
    align-self: center;
    margin: 20px; 
}

.align-start{
    align-self: flex-start;
    margin-top: 10px ;
}
